.hero {
    height: 100vh;
    background-color: #fc9c9c;
}

.heroContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.presentation {
    background-color: #eec36f;
    border: 1px solid;
    font-size: 24px;
    width: 360px;
}

.photo {
    width: 45%;
    min-width: 300px;
    border: 1px solid;
}

@media (max-width: 900px) {
    .heroContainer {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .photo {
        margin-bottom: 40px;
    }
}

@media (max-width: 450px) {
    .presentation {
        font-size: 20px;
        width: 300px;
    }
}